name: Java Package

on:
  push:
    tags:
      - 'v*'
    paths:
      - 'sdk/spring-boot-starter/**'
      - '.github/workflows/java-publish.yml'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK 11
        uses: actions/setup-java@v3
        with:
          java-version: '11'
          distribution: 'temurin'
          server-id: github
          settings-path: ${{ github.workspace }}

      - name: Build with Maven
        run: mvn -B package --file sdk/spring-boot-starter/pom.xml

      - name: Publish to GitHub Packages
        run: mvn -B deploy --file sdk/spring-boot-starter/pom.xml
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}